@model  IList<MovieSoft.Models.SoftMovie>


@{
    ViewBag.Title = "Current Movies";
}

<h2>Current Movies</h2>

<h3>Search</h3>
@Html.ActionLink("Search", "Search")


<div class="col-lg-12 divMainHolder">

    @foreach (var item in Model)
    {
        <a href="@Url.Action("Movie", new { ID = item.ID })">
            <div class="col-md-3 col-sm-3 ">
                <img src="@item.ImageUrl" style="width: 100%;" class="divSearchMovie" />
            </div>
        </a>
    }
</div>